body{
	font-family: Helvetica;
	font-size: 30px;
	margin:0;

}
.container{
	display:flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	flex-direction: column;
}

img{
	height:80px;
	width:80px;
}